@import '../../scss/modules/_variables.scss';

.jumbotron {
  background-color: $logo-light-blue;
  padding: 1rem;
}

.container {
  h1 {
    text-align: center;
  }
  p, a {
    font-size: 1.4rem;
  }
}