<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Is Your Waterway Healthy?</h1>
    <div class="input-group mb-3">
      <input type="search"
             name="search"
             class="form-control"
             aria-label="Address search"
             aria-describedby="search-button"
             autofocus="autofocus"
             autocomplete="off"
             autocorrect="off"
             autocapitalize="off"
             maxlength="1000"
             tabindex="1"
             ref="addressInput"
             placeholder="" />
      <div class="input-group-append">
        <button type="button"
                class="btn btn-primary"
                id="search-button"
                ref="searchButton"
                tabindex="2">
          Search
        </button>
      </div>
    </div>
    <p>
      The Cumberland River Baisn includes 18,000 square miles of land and 20,000
      miles of streams and rivers. This region is one of the most biodiverse on
      Earth &mdash; home to thousands of plant and animal species and nearly 3
      million people.
    </p>
    <p>
      Here you can find your waterway by street address, determine its health, and
      get connected to people, ideas, and resources for improving the water
      quality in your community.
    </p>
    <a href="about" data-navigo>Learn More</a>
  </div>
</div>
