<!doctype html>
<html lang="en">
  <head>
    <!-- Keep this meta at the top -->
    <meta charset="utf-8">
    <!-- Force IE 8/9/10 to render the webpage in the highest available mode -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>iCreek</title>
    <meta name="description" content="iCreek provides health information for waterways within the Cumberland River Basin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <noscript>
        <div id="noscript-padding"></div>
        <div id="noscript-warning">This site needs JavaScript to run properly. Please enable JavaScript in your browser.</div>
    </noscript>
    <!-- IE 9 was the last version to support conditional comments -->
    <!-- http://stackoverflow.com/a/34331225 -->
    <!--[if lte IE 9]><p>You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade</a> to improve your experience and security.</p><![endif]-->
    <div id="dashboard">
      <header>
        <!--
        <nav class="navbar navbar-expand-md fixed-top">
          <a class="navbar-brand" href="#">&nbsp;</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        -->
      </header>
      <div class="wrapper">
        <aside id="info-sidebar"></aside>
        <aside id="settings-sidebar"></aside>
        <!-- We place main after the sidebars so that sibling -->
        <!-- CSS selectors like '#settings-sidebar + main' will work. -->
        <main id="content">
        </main>
      </div>
      <footer>
        <div id="copyright">
          iCreek
          © <a href="http://cumberlandrivercompact.org">Cumberland River Compact</a>
        </div>
      </footer>
    </div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
  </body>
</html>

