// 3rd party styles (./vendor)
@import 'vendor/bootstrap';
@import "~leaflet/dist/leaflet.css";

// Modules override vendor stuff (./modules)
@import 'modules/variables';
@import 'modules/mixins';

// Layout and components override vendor stuff (./partials)
@import 'partials/base';
@import 'partials/header';
@import 'partials/footer';

// TODO: Don't bundle CSS into the JS bundle.
//       Configure Webpack accordingly.

#noscript-padding {
  margin-top: 3.5rem;
}

#noscript-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  background-color: #a52a2a;
  padding: 5px 0px;
}