@import '../../scss/modules/_variables.scss';

#map-wrapper {
  height: 100%;
  width: 100%;
}

#map-wrapper.centered {
  max-width: 65rem;
  margin: auto;
}

#introduction {
  color: white;

  // 13px are needed to align with geocoder textbox
  margin-left: 13px;
  margin-right: 13px;

  .highlight {
    color: $alice-blue;
  }
}

.leaflet-container {
  width: 100%;
}

#map {
  height: 8rem;
  width: 100%;
  border: 1px solid #444;

  // Initially we hide the map.
  // It is made visible once the user searches for an address.
  visibility: hidden;
}

#map.is-visible {
  height: 100%;
  width: 100%;
  visibility: visible;
}
